<% include ../../partials/head.ejs %>
<link rel="stylesheet" type="text/css" href="/cart/css/style.css">
<link rel="stylesheet" type="text/css" href="/cart/css/cart_responsive.css">
<% include ../../partials/header.ejs %>
<div class="super_container_inner">
<div class="home">
        <div class="home_container ">
            <div class="home_content text-center">
                <div class="home_title">GIỎ HÀNG</div>
            </div>
        </div>
    </div>
    <% if (!products || products.length == 0) {%>
        <div class="cart_section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="cart_container">							
                            <!-- Cart Bar -->
                            <div class="cart_bar">
                                <ul class="cart_bar_list item_list d-flex flex-row align-items-center justify-content-end">
                                    <li class="mr-auto">Sản phẩm</li>
                                    <li>Giá</li>
                                    <li>Số lượng</li>
                                    <li>Tổng tiền</li>
                                </ul>
                            </div>
                            <p id="no-product">Không có sản phẩm</p>
                            <div class="cart_buttons d-flex flex-row align-items-start justify-content-start">
                                <div class="cart_buttons_inner ml-sm-auto d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <div class="button button_continue trans_200"><a href="/list-product/0/1">tiếp tục mua hàng</a></div>
                                </div>
                            </div> 
                        </div>

                    </div>
                </div>
            </div>
        </div>

    <%} else { %>
        <div class="cart_section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="cart_container">							
                            <!-- Cart Bar -->
                            <div class="cart_bar">
                                <ul class="cart_bar_list item_list d-flex flex-row align-items-center justify-content-end">
                                    <li class="mr-auto">Sản phẩm</li>
                                    <li>Giá</li>
                                    <li>Số lượng</li>
                                    <li>Tổng tiền</li>
                                </ul>
                            </div>
                            <!-- Cart Items -->
                            <div class="cart_items">
                                <ul class="cart_items_list">
                                    <%  var i = 1; %>
                                    <% products.forEach(function(e){ %>
                                    <!-- Cart Item -->
                                    <li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
                                        <div class="product d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
                                            <div><div class="product_number"><%=i%></div></div>
                                            <div><div class="product_image"><img src="<%=e.item.image%>" alt=""></div></div>
                                            <div class="product_name_container">
                                                <div class="product_name"><a href="/detail-a-product?id=<%=e.item._id%>&&code=<%=e.item.category%>"><%=e.item.name%></a></div>
                                            </div>
                                        </div>    
                                        
                                        <div class="product_price product_text"><span>Giá tiền: </span><%=e.item.price%></div>
                                        <div class="product_quantity_container">
                                            <div class="product_quantity ml-lg-auto mr-lg-auto text-center">
                                                <span class="product_text product_num" data-quantity="<%=e.item.quantity%>"><%=e.qty%></span>
                                                <a class="qty_sub qty_button trans_200 text-center" href="/reduce/<%=e.item._id%>"><span>-</span></a>
                                                <a class="qty_add qty_button trans_200 text-center" href="/increase/<%=e.item._id%>"><span>+</span></a>
                                            </div>
                                        </div>
                                        <div class="product_total product_text"><span>Tổng tiền: </span><%=e.price%></div>
                                    </li>
                                    <% i= i + 1;%>
                                    <% }); %>
                                </ul>
                            </div>
                            <!-- Cart Buttons -->
                            <div class="cart_buttons d-flex flex-row align-items-start justify-content-start">
                                <div class="cart_buttons_inner ml-sm-auto d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <div class="button button_clear trans_200"><a href="/remove-cart">xóa giỏ hàng</a></div>
                                    <div class="button button_continue trans_200"><a href="/list-product/0/1">tiếp tục mua hàng</a></div>
                                </div>
                            </div>                                                   
                        </div>
                    </div>
                </div>
                <div class="cart_extra_row">
                    <div class="cart_extra_col">
                        <div class="cart_extra cart_extra_2">
                            <div class="cart_extra_content cart_extra_total">
                                <div class="cart_extra_title">Tổng tiền giỏ hàng</div>
                                <ul class="cart_extra_total_list">
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <div class="cart_extra_total_title">Tạm tính</div>
                                        <div class="cart_extra_total_value ml-auto"><%=totalPrice%></div>
                                    </li>
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <div class="cart_extra_total_title">Phí giao hàng</div>
                                        <div class="cart_extra_total_value ml-auto">Miễn phí</div>
                                    </li>
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <div class="cart_extra_total_title">Tổng tiền</div>
                                        <div class="cart_extra_total_value ml-auto"><%=totalPrice%></div>
                                    </li>
                                </ul>
                                <div class="checkout_button trans_200"><a href="/checkout">Tiến hành thanh toán</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
    <!-- Cart -->
    
</div>
    <!--  -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="css/bootstrap-4.1.2/popper.js"></script>
<script src="css/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="js/cart.js"></script>


<% include ../../partials/footer.ejs %>