<% include ../../partials/head.ejs %>
<% include ../../partials/header.ejs %>
<% 
function formatDate(time) {
    var date = new Date(time);
    var day = date.getDate();
    var month = date.getMonth()+1;
    var year = date.getFullYear();
    
    return day + '/' + month + '/' + year;
  }
%>

<%
  function formatMoney(price){
    return price.toLocaleString({style : 'currency', currency : 'VND'});
  }
%>
<!-- Detail a product -->
<main class="container main-container" data-reactid="108">
    <div class="container--grey" id="container--grey">
        <div class="container rx-product-detail-page">
            <div class="rx-main-page">
                <div>
                    <div class="row row-nopad-col product-content">
                        <div class="product-content-nav-holder">
                            <div class="product-content-nav rx-sticky">
                                <div class="product-content-nav-item rxiddetail rx-active">Chi tiết sản phẩm</div>
                                <a href="#desc" class="product-content-nav-item rxiddesc">Mô tả sản phẩm</a>
                                <a href="#review" class="product-content-nav-item rxidreview">Đánh giá &amp; nhận xét</a>
                                <a href="#faq" class="product-content-nav-item rxidfaq">Hỏi đáp</a>
                            </div>
                        </div>
                        <!-- <div class="product-detail-content-wrap">
                            <div class="fancybox-overlay">
                                <div class="fancybox-desktop-opened">
                                    <div class="facybox-desktop-skin">
                                        <div class="thumbZomin-hidden"><span class="mlkicon-Close icon-Close"></span>
                                        </div>
                                        <div class="Slider rx-slider-custom">
                                            <div class="Slider-arrows">
                                                <div class="Slider-arrow Slider-arrow--left"><span
                                                        class="mlkicon-ArrowBack mlkicon-Arrow"></span></div>
                                                <div class="Slider-arrow Slider-arrow--right"><span
                                                        class="mlkicon-ArrowNext mlkicon-Arrow"></span></div>
                                            </div>
                                            <div class="Slider-nav"><button
                                                    class="Slider-navButton Slider-navButton--active"></button><button
                                                    class="Slider-navButton"></button><button
                                                    class="Slider-navButton"></button><button
                                                    class="Slider-navButton"></button><button
                                                    class="Slider-navButton"></button><button
                                                    class="Slider-navButton"></button><button
                                                    class="Slider-navButton"></button></div>
                                            Chang images 
                                            <div class="Slider-inner">
                                                <div class="Slider-single rx-slider-custom-single"
                                                    style="width: 700%; transform: translateX(0%);">
                                                    <div class="rx-thumb"><img class="" src="" alt="" title="Hoa hồng">
                                                    </div>
                                                    <div class="rx-thumb"><img class="" src=" " alt="" title="Hoa hồng">
                                                    </div>
                                                    <div class="rx-thumb"><img class="" src=" " alt="" title="Hoa hồng">
                                                    </div>
                                                    <div class="rx-thumb"><img class="" src=" " alt="" title="Hoa hồng">
                                                    </div>
                                                    <div class="rx-thumb"><img class="" src=" " alt="" title="Hoa hồng">
                                                    </div>
                                                    <div class="rx-thumb"><img class="" src=" " alt="" title="Hoa hồng">
                                                    </div>
                                                    <div class="rx-thumb"><img class="" src=" " alt="" title="Hoa hồng">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- CHI TIẾT 1 SẢN PHẨM -->
                           
                            <div class="col-sm-lg col-sm-4" id="detail">
                                <div class="product-left-img">
                                    <div class="thumbZomin-hidden"><span class="mlkicon-Close icon-Close"></span>
                                    </div>
                                    <div class="Slider rx-slider-custom">
                                        <!-- <div class="Slider-arrows">
                                            <div class="Slider-arrow Slider-arrow--left"><span
                                                    class="mlkicon-ArrowBack mlkicon-Arrow"></span></div>
                                            <div class="Slider-arrow Slider-arrow--right"><span
                                                    class="mlkicon-ArrowNext mlkicon-Arrow"></span></div>
                                        </div> -->
                                        <!-- <div class="Slider-nav"><button
                                                class="Slider-navButton Slider-navButton--active"></button><button
                                                class="Slider-navButton"></button><button
                                                class="Slider-navButton"></button><button
                                                class="Slider-navButton"></button><button
                                                class="Slider-navButton"></button><button
                                                class="Slider-navButton"></button><button
                                                class="Slider-navButton"></button></div> -->
                                        <div class="Slider-inner">
                                            <div class="Slider-single rx-slider-custom-single"
                                                style="width: 700%; transform: translateX(0%);">
                                                <!-- Add thumb -->
                                                <div class="rx-thumb"><img class="" src="<%=singleProduct.image%>" alt=""
                                                        title="Hoa hồng"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-left-social">
                                    <div class="product-left-social-left"></div>
                                    <div class="product-left-social-right">
                                        <!-- react-text: 1906 -->Chia sẻ đến
                                        <!-- /react-text --><span></span></div>
                                </div>
                            </div>
                            <div class="col-sm-lg col-sm-5">
                                <div class="content product-right">
                                    <div class="rxfigure-body-brand-inlist"><%=singleProduct.category%></div>
                                    <div class="rxname"><%=singleProduct.name%></div>
                                    <div class="clearfix">
                                        <div class="figure-body-rating-star">
                                            <div>
                                                <div class="rx-star-off"></div>
                                            </div>
                                            <div>
                                                <div class="rx-star-off"></div>
                                            </div>
                                            <div>
                                                <div class="rx-star-off"></div>
                                            </div>
                                            <div>
                                                <div class="rx-star-off"></div>
                                            </div>
                                            <div>
                                                <div class="rx-star-off"></div>
                                            </div>
                                            <div class="rx-star-text">
                                                <!-- react-text: 1925 -->(
                                                <!-- /react-text -->
                                                <!-- react-text: 2140 -->0
                                                <!-- /react-text -->
                                                <!-- react-text: 1926 -->
                                                <!-- /react-text -->
                                                <!-- react-text: 1928 --> nhận xét)
                                                <!-- /react-text -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="rxprice-container">
                                        <div class="rxprice">
                                            <!-- react-text: 1932 --><%=formatMoney(singleProduct.price)%>
                                            <!-- /react-text -->
                                            <!-- react-text: 1933 -->đ
                                            <!-- /react-text -->
                                        </div>
                                        <div></div>
                                    </div>
                                    <div></div>
                                    <div class="rx-quanty-order">
                                        <div class="rx-quanty-order-left">Số lượng:</div>
                                        <div class="rx-quanty-order-right">
                                            <div class="rx-quanty-order-right-head"></div>
                                            <div class="rx-quanty-order-right-body">
                                                <button>-</button>
                                                <input type="number" value="1" readonly="" class="rx-quanty-input" data-quantity="<%=singleProduct.quantity%>">
                                                <button>+</button></div>
                                        </div>
                                    </div>
                                    <div class="rx-action-order">
                                        <div class="rx-action-addcart-info">
                                            <!-- react-text: 1949 -->
                                            <!-- /react-text -->
                                            <!-- react-text: 1950 -->
                                            <!-- /react-text -->
                                        </div>
                                        <a class="rx-action-addcart-mainbox clearfix" href="/add-to-cart?id=<%=singleProduct._id%>&&quantity=1">
                                            <div class="rx-action-addcart rx-action-addcart-lg">Thêm vào giỏ hàng
                                            </div>
                                        </a>
                                        <div class="rx-action-favorite clearfix">
                                            <div>
                                                <div class="rx-heart-medium mlkicon-Heart"></div>
                                                <!-- react-text: 1956 --> Yêu thích sản phẩm
                                                <!-- /react-text -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- SẢN PHẨM CÙNG LOẠI -->
                            <div class="col-sm-lg col-sm-3">
                                <div class="rx-product-relasted">
                                    <div class="rx-product-relasted-title">Sản phẩm cùng loại</div>
                                    <%relatedProducts.forEach(function(product){ %>
                                    <a href="/detail-a-product?id=<%=product._id%>&&code=<%=product.category%>">
                                        <div class="rx-product-relasted-content-post">
                                            <div class="rx-product-relasted-content-post-left"><img class=""
                                                    src="<%=product.image%>" alt="" title=" "></div>
                                            <div class="rx-product-relasted-content-post-right">
                                                <div class="rx-product-relasted-content-post-title"><%=product.name%>
                                                </div>
                                                <div class="rx-product-relasted-content-post-price">
                                                    <!-- react-text: 2180 --> <%=formatMoney(product.price)%>
                                                    <!-- /react-text -->
                                                    <!-- react-text: 2181 -->đ
                                                    <!-- /react-text --><span></span></div>
                                            </div>
                                        </div>
                                    </a>
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                        <!-- MÔ TẢ SẢN PHẨM -->
                        <div class="row row-nopad-col product-detail-block" id="desc">
                            <div class="row row-nopad-col rx-pad-30">
                                <div class="col-md-6 rx-product-desc-col">
                                    <div class="rx-product-desc-col-name">Mô tả sản phẩm</div>
                                    <div><%=singleProduct.info%></div>
                                </div>
                            </div>
                        </div>
                        <!-- ĐÁNH GIÁ VÀ HIỆN ĐÁNH GIÁ SẢN PHẨM -->
                        <div class="row row-nopad-col product-detail-block" id="review">
                            <div class="row row-nopad-col rx-pad-30" style="width: 100%;">
                                <div class="col-sm col-md-12">
                                    <div>
                                        <div class="lk-product-reviews-title"></div>
                                        <div class="lk-reviews-start-main">
                                            <div class="lk-reviews-progress-start-position">
                                                <div class="lk-reviews-start">
                                                    <div class="lk-reviews-start-title">Đánh giá trung bình</div>
                                                    <div class="lk-reviews-start-divice">
                                                        <!-- react-text: 2746 -->5
                                                        <!-- /react-text -->
                                                        <!-- react-text: 2547 -->/5
                                                        <!-- /react-text -->
                                                    </div>
                                                    <div class="lk-reviews-start-icon clearfix">
                                                        <div>
                                                            <div class="rx-star-big"></div>
                                                        </div>
                                                        <div>
                                                            <div class="rx-star-big"></div>
                                                        </div>
                                                        <div>
                                                            <div class="rx-star-big"></div>
                                                        </div>
                                                        <div>
                                                            <div class="rx-star-big"></div>
                                                        </div>
                                                        <div>
                                                            <div class="rx-star-big"></div>
                                                        </div>
                                                    </div>
                                                    <div class="lk-reviews-start-command">
                                                        <!-- react-text: 2560 -->(
                                                        <!-- /react-text -->
                                                        <!-- react-text: 2752 -->1
                                                        <!-- /react-text -->
                                                        <!-- react-text: 2561 -->
                                                        <!-- /react-text -->
                                                        <!-- react-text: 2563 --> nhận xét)
                                                        <!-- /react-text -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="lk-reviews-progress-center-position">
                                                <div class="lk-reviews-progress-start">
                                                    <ul>
                                                        <li class="lk-list-product-rating-gui clearfix"><span
                                                                class="lk-list-product-rating-start">
                                                                <!-- react-text: 2569 -->5
                                                                <!-- /react-text -->
                                                                <!-- react-text: 2570 -->
                                                                <!-- /react-text -->
                                                                <div class="rx-star"></div>
                                                            </span><span class="lk-list-rating-progress"><span
                                                                    class="lk-list-rating-progress-bar"><span
                                                                        class="lk-list-rating-progress-bar-choosed"
                                                                        style="width: 100%;"></span></span></span><span
                                                                class="lk-list-product-rating-count">
                                                                <!-- react-text: 2576 -->100
                                                                <!-- /react-text -->
                                                                <!-- react-text: 2577 -->%
                                                                <!-- /react-text --></span></li>
                                                        <li class="lk-list-product-rating-gui clearfix"><span
                                                                class="lk-list-product-rating-start">
                                                                <!-- react-text: 2580 -->4
                                                                <!-- /react-text -->
                                                                <!-- react-text: 2581 -->
                                                                <!-- /react-text -->
                                                                <div class="rx-star"></div>
                                                            </span><span class="lk-list-rating-progress"><span
                                                                    class="lk-list-rating-progress-bar"><span
                                                                        class="lk-list-rating-progress-bar-choosed"
                                                                        style="width: 0%;"></span></span></span><span
                                                                class="lk-list-product-rating-count">
                                                                <!-- react-text: 2587 -->0
                                                                <!-- /react-text -->
                                                                <!-- react-text: 2588 -->%
                                                                <!-- /react-text --></span></li>
                                                        <li class="lk-list-product-rating-gui clearfix"><span
                                                                class="lk-list-product-rating-start">
                                                                <!-- react-text: 2591 -->3
                                                                <!-- /react-text -->
                                                                <!-- react-text: 2592 -->
                                                                <!-- /react-text -->
                                                                <div class="rx-star"></div>
                                                            </span><span class="lk-list-rating-progress"><span
                                                                    class="lk-list-rating-progress-bar"><span
                                                                        class="lk-list-rating-progress-bar-choosed"
                                                                        style="width: 0%;"></span></span></span><span
                                                                class="lk-list-product-rating-count">
                                                                <!-- react-text: 2598 -->0
                                                                <!-- /react-text -->
                                                                <!-- react-text: 2599 -->%
                                                                <!-- /react-text --></span></li>
                                                        <li class="lk-list-product-rating-gui clearfix"><span
                                                                class="lk-list-product-rating-start">
                                                                <!-- react-text: 2602 -->2
                                                                <!-- /react-text -->
                                                                <!-- react-text: 2603 -->
                                                                <!-- /react-text -->
                                                                <div class="rx-star"></div>
                                                            </span><span class="lk-list-rating-progress"><span
                                                                    class="lk-list-rating-progress-bar"><span
                                                                        class="lk-list-rating-progress-bar-choosed"
                                                                        style="width: 0%;"></span></span></span><span
                                                                class="lk-list-product-rating-count">
                                                                <!-- react-text: 2609 -->0
                                                                <!-- /react-text -->
                                                                <!-- react-text: 2610 -->%
                                                                <!-- /react-text --></span></li>
                                                        <li class="lk-list-product-rating-gui clearfix"><span
                                                                class="lk-list-product-rating-start">
                                                                <!-- react-text: 2613 -->1
                                                                <!-- /react-text -->
                                                                <!-- react-text: 2614 -->
                                                                <!-- /react-text -->
                                                                <div class="rx-star"></div>
                                                            </span><span class="lk-list-rating-progress"><span
                                                                    class="lk-list-rating-progress-bar"><span
                                                                        class="lk-list-rating-progress-bar-choosed"
                                                                        style="width: 0%;"></span></span></span><span
                                                                class="lk-list-product-rating-count">
                                                                <!-- react-text: 2620 -->0
                                                                <!-- /react-text -->
                                                                <!-- react-text: 2621 -->%
                                                                <!-- /react-text --></span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="lk-reviews-function-command">
                                                <div class="lk-reviews-function-command-title">Nhận xét về sản phẩm
                                                </div>
                                                <div class="lk-reviews-function-command-width lk-reviews-function-btn">
                                                    Viết đánh giá</div>
                                            </div>
                                        </div>
                                        <div>
                                            <!-- CHI TIẾT SẢN PHẨM ĐƯỢC ĐÁNH GIÁ -->
                                            
                                            <div class="lk-box-product-reviews-main">
                                                <div class="lk-box-product-reviews-main-rating" id="single-product-form" data-id="<%=singleProduct._id%>">
                                                    <div class="lk-box-product-reviews-img"><img class="lk-img-rating"
                                                            src="<%=singleProduct.image%>"
                                                            alt=""></div>
                                                    <div class="lk-box-product-reviews-main-inforating">
                                                        <div class="cart-page-customer-name" style="text-align:center"><%=singleProduct.name%></div>
                                                        <div class="cart-page-customer-price-review" style="text-align:center">
                                                            <div class="cart-popup-product-price">
                                                                <!-- react-text: 2906 --><%=formatMoney(singleProduct.price)%>
                                                                <!-- /react-text -->
                                                                <!-- react-text: 2907 -->đ
                                                                <!-- /react-text -->
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="figure-body-rating-star">
                                                                <div>
                                                                    <div class="rx-star"></div>
                                                                </div>
                                                                <div>
                                                                    <div class="rx-star"></div>
                                                                </div>
                                                                <div>
                                                                    <div class="rx-star"></div>
                                                                </div>
                                                                <div>
                                                                    <div class="rx-star"></div>
                                                                </div>
                                                                <div>
                                                                    <div class="rx-star"></div>
                                                                </div>
                                                                <div class="rx-star-text">
                                                                    <!-- react-text: 2924 -->(
                                                                    <!-- /react-text -->
                                                                    <!-- react-text: 2925 -->1
                                                                    <!-- /react-text -->
                                                                    <!-- react-text: 2926 -->
                                                                    <!-- /react-text -->
                                                                    <!-- react-text: 2927 -->)
                                                                    <!-- /react-text -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <!-- FROM ĐÁNH GIÁ -->
                                                    <form method="POST" action="/detail-a-product" id="myForm" class="lk-box-product-reviews-main-formrating"
                                                    style="background-color: transparent">
                                                        <div class="lk-box-product-reviews-title lk-margin-bottom">Gửi đánh giá của bạn</div>
                                                        <div class="clearfix lk-margin-bottom">
                                                            <!-- đánh giá ngôi sao -->
                                                            <div class="figure-body-rating-star">
                                                                <div>
                                                                    <div class="rx-star-big"></div>
                                                                </div>
                                                                <div>
                                                                    <div class="rx-star-big"></div>
                                                                </div>
                                                                <div>
                                                                    <div class="rx-star-big"></div>
                                                                </div>
                                                                <div>
                                                                    <div class="rx-star-big"></div>
                                                                </div>
                                                                <div>
                                                                    <div class="rx-star-big"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lk-margin-bottom">
                                                                <div class="cart-page-customer-name fontsize-15">Họ tên người đánh giá</div>
                                                                <input type="text" tabindex="1" id ="name" name="name"
                                                                    class="fullwidth-input" placeholder="Nguyễn Văn A" required>
                                                        <div class="lk-margin-bottom">
                                                            <div class="cart-page-customer-name fontsize-15">Tiêu đề đánh giá</div>
                                                            <input type="text" tabindex="1" id="title" name="title"
                                                                class="fullwidth-input" value="Rất tốt">
                                                        </div>
                                                        <div class="lk-margin-bottom">
                                                            <div class="cart-page-customer-name fontsize-15">Nhận xét sản phẩm</div>
                                                            <textarea tabindex="2" id ="comment" name="comment"
                                                                class="fullwidth-input" rows="5"
                                                                placeholder="Nhận xét của bạn về sản phẩm này"></textarea>
                                                        </div>
                                                        <input name="id" value="<%=singleProduct._id%>" style="height:0px;width:0px; visibility: hidden;">
                                                        <div class="lk-box-product-reviews-botton">
                                                            <button id="btnSubmit" tabindex="3" class="lk-reviews-product-submit" type="submit" onClick="check()">Lưu thay đổi
                                                            </button>
                                                        </div>
                                                    </div>
                                                 </form>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <div class="lk-reviews-main-box clearfix">
                                                <div class="lk-reviews-main-title-select">Chọn xem nhận xét</div>
                                                <div class="lk-reviews-line-start">
                                                    <div class="lk-reviews-line-start-score"><select
                                                            class="fullwidth-input">
                                                            <option value="0">Tất cả khách hàng</option>
                                                            <option value="1">Khách hàng đã mua sản phẩm</option>
                                                            <option value="2">Khách hàng chưa mua sản phẩm</option>
                                                        </select></div>
                                                    <div class="lk-reviews-line-start-score"><select
                                                            class="fullwidth-input">
                                                            <option value="0">Tất cả sao</option>
                                                            <option value="1">1 sao</option>
                                                            <option value="2">2 sao</option>
                                                            <option value="3">3 sao</option>
                                                            <option value="4">4 sao</option>
                                                            <option value="5">5 sao</option>
                                                        </select></div>
                                                </div>
                                            </div>
                                            <!-- 1 NHẬN XÉT TỪ NGƯỜI MUA -->
                                            <%listComment.forEach(function(comment){ %>
                                            <div class="lk-reviews-line-main">
                                                <div class="lk-reviews-line-main-body">
                                                    <div class="lk-reviews-main-title-select">
                                                        <div class="lk-position-img-icon-account">
                                                            <div class="figure-body-account mlkicon-Profile"></div>
                                                        </div>
                                                        <div class="lk-reviews-line-body-name"><%=comment.name_user%></div>
                                                        <div class="lk-reviews-line-body-time"><%=formatDate(comment.update)%></div>
                                                    </div>
                                                    <div class="lk-reviews-line-start">
                                                        <div class="lk-reviews-line-info">
                                                            <div class="lk-reviews-line-header-score">
                                                                <div>
                                                                    <div class="rx-star"></div>
                                                                </div>
                                                                <div>
                                                                    <div class="rx-star"></div>
                                                                </div>
                                                                <div>
                                                                    <div class="rx-star"></div>
                                                                </div>
                                                                <div>
                                                                    <div class="rx-star"></div>
                                                                </div>
                                                                <div>
                                                                    <div class="rx-star"></div>
                                                                </div>
                                                            </div>
                                                            <div class="lk-reviews-line-header-title"><%=comment.title%></div>
                                                        </div>
                                                    </div>
                                                    <div class="lk-reviews-line-start">
                                                        <div class="lk-reviews-line-content"><span><%=comment.content%>
                                                                </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }); %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- CÂU HỎI THƯỜNG GẶP -->
                        <div class="row row-nopad-col product-detail-block" id="faq">
                            <div class="row row-nopad-col rx-pad-30 rx-product-faq">
                                <div class="rx-product-faq-title">Câu hỏi thường gặp</div>
                                <div>
                                    <div class="rx-product-faq-quest">
                                        <!-- react-text: 2779 -->Q:
                                        <!-- /react-text -->
                                        <!-- react-text: 2780 -->Tôi ở xa thì sản phẩm nhận được có đảm bảo chất lượng?
                                        <!-- /react-text -->
                                    </div>
                                    <div class="rx-product-faq-anwser">
                                        <p>A: Hiện tại cửa hàng có hỗ trợ giao hàng cho các khách hàng ở xa, thời gian giao hàng trung bình từ 2-3 ngày
                                            (tuỳ theo khu vực), cửa hàng đảm bảo mang đến cho khách hàng sản phẩm tốt nhất. Nếu trong lúc nhận hàng,
                                            quý khách không vừa ý thì có thể liên hệ số hotline 0253 564 676 để được hỗ trợ đổi hàng miễn phí.
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <div class="rx-product-faq-quest">
                                        <!-- react-text: 2784 -->Q:
                                        <!-- /react-text -->
                                        <!-- react-text: 2785 -->Thời gian giao hàng trong bao lâu?
                                        <!-- /react-text -->
                                    </div>
                                    <div class="rx-product-faq-anwser">
                                        <p>A: Đối với khu vực Hồ Chí Minh, Hà Nội, Đà Nẵng sẽ được giao hàng trong ngày, nếu khách hàng đặt hàng vào
                                            Chủ nhật, đơn hàng sẽ được dời sang thứ hai. Các tỉnh thành còn lại giao từ 1 - 3 ngày (tuỳ theo khu vực).
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <div class="rx-product-faq-quest">
                                        <!-- react-text: 2789 -->Q:
                                        <!-- /react-text -->
                                        <!-- react-text: 2790 -->Sản phẩm này có nguồn gốc từ đâu?
                                        <!-- /react-text -->
                                    </div>
                                    <div class="rx-product-faq-anwser">
                                        <p>A: Các sản phẩm của cửa hàng được nhập trực tiếp từ trang trại hoa tại Đà Lạt và chỉ được lưu 
                                            trong kho tối đa 7 ngày, do đó sản phẩm sẽ được đảm bảo độ tươi mới nhất khi giao cho khách hàng.
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <div class="rx-product-faq-quest">
                                        <!-- react-text: 2794 -->Q:
                                        <!-- /react-text -->
                                        <!-- react-text: 2795 -->Tôi có thể xem hàngn trước khi thanh toán? Có được đổi trả
                                        hàng khi bị lỗi?
                                        <!-- /react-text -->
                                    </div>
                                    <div class="rx-product-faq-anwser">
                                        <p>A: Đối với đơn hàng từ 10 triệu trở xuống, khách hàng hoàn toàn có thể nhận và
                                            kiểm tra hàng rồi mới thanh toán. Nếu trong quá trình vận chuyển, sản phẩm có 
                                            bị hư hỏng hoặc sản phẩm đóng gói không giống như đơn hàng, khách hàng có thể 
                                            liên hệ qua số hotline 0253 564 676 để được đổi trả hàng miễn phí.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
</main>
<!--  -->
<!--  -->
<!-- CORE JQUERY  -->
<script src="/template/js/jquery-1.10.2.js"></script>
<script type="text/javascript"></script>


<% include ../../partials/footer.ejs %>